{% extends 'layouts/base.html' %}

{% block content %}
<h1> About</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est sit quos quis alias veniam odio quibusdam itaque repellendus mollitia molestias laborum totam maiores, natus sunt provident inventore deleniti voluptate qui eum veritatis quas consectetur tempora aut ab? Error deleniti vitae mollitia quidem voluptates, officia accusamus at temporibus illum libero, praesentium ullam delectus nisi dolores omnis molestiae sapiente saepe laudantium placeat quae in quaerat voluptatibus facere aut. Recusandae amet numquam tenetur maxime, excepturi voluptates unde illum saepe dolorem, libero fuga nulla quisquam alias soluta debitis! Ducimus, rem ipsum magnam dicta earum blanditiis quas maxime optio incidunt laudantium iste labore vero pariatur.</p>

<p>Website created by {{ username }}</p>

{% endblock %}