{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<h1>{{ title }}</h1>

<img src="{% static 'logo_osl.png' %}" alt="" width="100">

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio adipisci, praesentium nobis explicabo tempore hic dolorem laboriosam suscipit atque ducimus minus! Harum id perferendis ducimus, alias aspernatur facere, similique consequuntur illum libero odit praesentium! Temporibus ea voluptatum illo eum perferendis, ab adipisci nihil quidem enim deleniti, nisi porro laudantium quod reprehenderit sint maiores voluptas dicta fuga non dolores odio! Corrupti labore soluta a consequatur, quis pariatur aspernatur amet, aliquam nostrum officiis aliquid libero illum non vitae sint officia? Velit corporis ut nemo possimus culpa sint eum sequi neque accusantium totam magnam esse adipisci consequatur, dolores, reiciendis delectus doloribus! Omnis, velit.</p>

{% endblock %}